/* Botão animado - horizontal */
.anima-botao-hz{
    position: relative;
    z-index: 1;
    width: 50%;
    
}

.anima-botao-hz:before{
    content: "";
    position: absolute;
    width: 0%;
    top: 0%;
    left: 0%;
    height: 100%;
    z-index: -1;
    
    transition: all .5s linear ;
}

.anima-botao-hz:hover:before{
    width: 100%;
    background: #ff00ff;
    color: white;
    font-size: 1.3em;

    transition: all .5s linear ;
}



/* Mensagem de alerta*/
.anima-alerta{
    position: relative;
    background: yellow;
    width: 20%;
    text-align: center;
    border-radius: 50%;


    animation-name: alerta ;
    animation-duration: .2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes alerta{
    0%{

        background: rgb(252, 252, 252);
        transform: scale(1);
    }
    100%{
        background: rgb(250, 21, 21);
        color: white;
        transform: scale(1.3);
        
    }
}

/* Navegação animada - center*/

nav{
    margin: 50px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

li{
   margin: 8px;
}

a{
    text-decoration: none;
}

.anima-nav-ct{
    position: relative;
}

.anima-nav-ct:before{
    content: "";
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    width: 0%;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
    
    transition: all .6s ease-in-out;
}

.anima-nav-ct:hover:before{
    width: 100%;
    border-bottom: 1px solid #ff00ff ;
    transition: all .6s ease-in-out;
   
}

/* navegação animada - left*/
.anima-nav-lt{
    position: relative;
}

.anima-nav-lt:before{
    content: "";
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    width: 0%;
    left: 0%;
    top: 100%;
    transform: translate(0%, -100%);
    
    transition: all .6s ease-in-out;
}

.anima-nav-lt:hover:before{
    width: 100%;
    border-bottom: 1px solid #ff00ff ;
    transition: all .6s ease-in-out;
   
}

/* Navegação - rotacionando */
.anima-nav-rt{
    position: relative;
}

.anima-nav-rt:after{
    content: '\f0dd';
    position: absolute;
    top: -0.8em;
    transform: rotate(0deg);
    transition: all .2s ease-in-out;
}

li:hover .anima-nav-rt:after{
    
    transform: rotate(180deg);
    transition: all .6s ease-in-out;
   
}


.ul-servicos{
    display: none;
    position: relative;
    
    transition: all 2s ease-in-out 5s;
}

.lista-oculta:hover .ul-servicos{
    display: block;
    position: absolute;
    
    transition: all .1s ease-in-out 6s;
}

/* preenchendo fundo*/
.anima-preenche-fundo{
    position: relative;
}

.anima-preenche-fundo:before{
    content:"";
    position: absolute;
    width: 0%;
    height: 0%;
    left: -1%;
    padding: 0px 10px;
    animation-name: preenche-fundo;
    animation-duration: 8s;
    animation-delay: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes preenche-fundo{
    0%{
        background: white;
        width: 0%;
        z-index: -9999;
    }
    100%{
        color: white;
        background: #e482e4;
        width: 100%;
        height: 100%;
        
        z-index: -9999;

    }
}

/* Cartão com foco */

.anima-container{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        margin: 0 auto;
    }

    .anima-container .anima-box{
        background: #ccc;
        margin: 1%;
        border-radius: 20px;
        transition: .3s;
    }

    .anima-container .anima-box .anima-card{
        box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.6),
                    5px 5px 15px rgba(0, 0, 0, 0.4),
                    inset 5px 5px 15px rgba(0, 0, 0, 0.6),
                    5px 5px 15px rgba(0, 0, 0, 0.4);
                    
        padding: 25px;
        margin: 2%;
        border-radius: 20px;
    }

    .anima-container:hover .anima-box{
        filter: blur(8px);
        transition: .4s;
    }

    .anima-container .anima-box:hover{
        filter:blur(0px);
        transition: .4s;
        transform: scale(1.1);
    }  


    /* Borda animada*/
    .anima-borda:before, .anima-borda:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: .7s ease-in-out;
    }

    .anima-borda:before{
        border-left: 5px solid rgba(98, 0, 128, 0.5);
        border-right: 5px solid rgba(98, 0, 128, .5);
        transform: scaleY(0);
    }

    .anima-borda:after{
        border-top: 5px solid rgba(98, 0, 128, .5);
        border-bottom: 5px solid rgba(98, 0, 128, .5);
        transform: scaleX(0);
    }

    .anima-borda:hover:before, .anima-borda:hover:after{
        transform: scale(1);
    }