@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  padding-top: 50px;
  padding-bottom: 20px; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
  max-width: 280px; }
*/
/*
    importados
*/
body {
  color: #666;
  line-height: 1.5em;
  font-family: 'Roboto', sans-serif; }

p{
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

/*
    Cabeçalho
 */
.navbar {
  padding: 8px 5px 8px;
  width: 65%;
  margin-left: 35%; }



.cabecalho-principal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 8%;
  height: 100%;
  width: 35%;
  box-sizing: border-box;
  background: url(../images/overlay.png), url(../images/bg.jpg);
  background-position: left top;
  background-size: auto, cover; }

.cabecalho-principal-titulo {
  font-size: 22px;
  line-height: 1.5;
  color: white;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5); }

.cabecalho-principal-titulo strong {
  color: white; }

.cabecalho-principal-link {
    color: rgba(58, 197, 64, 55%);
    text-decoration: none;
    border-bottom: 1px dotted;
}

.cabecalho-principal .cabecalho-principal-conteudo {
    text-align: end;
    padding-right: 19px;
    box-sizing: border-box;
}

.cabecalho-principal .cabecalho-principal-conteudo p {
    color: white;
    font-size: 15px;
}

.cabecalho-principal-link:hover {
    border-bottom-color: transparent;
    transition-property: border;
    transition-duration: 1s;
    transition-timing-function: linear;
}

/* Conteudo principal*/

.conteudo-principal {
    width: 65%;
    margin-left: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
}

.secao-conteudo-principal{
    margin-top: 2em;
}

.trabalhos-recentes-cartao{
    border-radius: 10px;
}

sub, sup {
  font-size: 12px; }

blockquote {
  border-left: 5px solid #efefef;
  margin: 2em 0;
  padding: .5em 0 .5em 1.5em; }

code {
  background: #f7f7f7;
  border-radius: .35em;
  border: 2px solid #efefef;
  font-size: .9em;
  padding: 0.25em .65em;
  box-sizing: border-box;
  font-family: 'Courier New', sans-serif; }

pre code {
  display: block; }

ul, ol{
    margin: 1.6em;
    padding: 0;
}

h3, h5, h4, h2{
    font-size: 2.5em;
}

li{
    padding-left: .5em;
}

.ul-alternate{
    list-style-type: none;
    padding-left: 0;
}

.ul-alternate li{
    border-bottom: 1px solid #ccc;
    padding-left: 0;
}

.ul-alternate li:last-child{
    border: 0;
}

.ul-icones{
    list-style-type: none;
    padding-left: 0;
}

.ul-icones li{
    display: inline-block;
    font-size: 2em;
}

/* Grid */

.linha{
    overflow: auto;
}

.coluna-6{
    width: 48%;
    float: left;
    margin: 1%;
}

.coluna-2-3 {
    float: left;
    width: 65%;
}

.coluna-1-3 {
    float: left;
    width: 32%;
    margin: 1% 1% 1% 0%;
}
 /* Botões */

.button-default{
    background-color: #49bf9d;
    border: 2px solid #49bf9d;
    color: white;
    padding: .75em 1.5em;
    border-radius: 5px;
    font-size: .8em;
    transition: all .6s;
    cursor: pointer;
}

.button-default:hover{
    background-color: #5ddeb9;
    border-color: transparent;
}

.button-default-stroke{
    background-color: white;
    border-color: #efefef;
    color: inherit;

}

.button-default-stroke:hover{
    color: #49bf9d;
    border-color: #49bf9d;
    background: white;
}

.button-default-small{
    font-size: .65em;
}

.button-default-full{
    display: block;
    width: 100%;
}

 /* Tabela */

.tabela{
    width: 100%;
    margin: 0 0 2em 0;
    border-collapse: collapse;
    text-align: left;
}

.tabela td{
    padding: 0.75em;
}

    .tabela th {
        background: #ccc;
        padding: 0.75em;
    }

.tabela tbody tr td{
    border-bottom: 1px solid #ccc;
}

.tabela tbody tr:first-child td{
    border-top: 2px solid #ccc;
}

.tabela tbody tr:last-child td {
    border-bottom: 2px solid #ccc;
}

.tabela tbody tr:nth-child(even) td{
    background: #eee;

}

.tabela-alternate tbody td, .tabela-alternate tbody tr:first-child td, .tabela-alternate tbody tr:last-child td {
    border: 1px solid #ddd;
}

/* Contato */

address{
    background: rgba(181, 179, 179,  0.29);
    border-radius: 5px 10px;
    padding: 5px;
    box-sizing: border-box;
    margin-left:2%;
}

body > div > div > main > section:nth-child(7) > div > div.coluna-2-3 > form > fieldset > div label, body > div > div > main > section:nth-child(7) > div > div.coluna-2-3 > form > fieldset > label {
    display: block;
}

 .formulario-contato input, .formulario-contato textarea{
    padding: 7px;

    box-sizing: border-box;
    border: 2px solid transparent;
}
    .formulario-contato input:focus, .formulario-contato textarea:focus {
        outline: none;
        border-color: rgba(58, 197, 64, 37%);
    }


    fieldset {
        background: rgba(181, 179, 179, 0.29);
        padding: 8px;
        box-sizing: border-box;
        border-radius: 8px;
    }

input, textarea, select{
    width:100%;
}

/*input[type="submit"]{
    width: auto;
    padding: 5px 15px;
    box-sizing: border-box;
    height: 0%;
    background: white;
    color: black;

}

input[type="submit"]:hover {
    color: white;
    height: 100%;
    background: rgba(58, 197, 64, 98%);
    transition-property: all;
    transition-duration: 0.8s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in-out;
}*/

/*Formulario enquete*/
.formulario-enquete #categorias, .formulario-enquete #mensagem-formulario-enquete{
    display: block !important;
}

.formulario-enquete .check-prioridades{
    display: flex;
    justify-content:space-around;
    margin-top: 1%;
}

.formulario-enquete input[type="reset"]{
    width: auto;
    border: 1px solid transparent;
    font-size: 1.2em;
}

.formulario-enquete input[type="reset"]:hover, .formulario-enquete input[type="submit"]:hover {
    border: 1px solid #302f2f;
    transition: border 0.5s;
}

.imagem-link{
    border: none;
}

/* Imagens galeria*/

.galeria-imagens img{
   width: 100%;
}

.galeria-thumb img{
    margin-bottom: 2%;
    display: inline-block;
}

.galeria-thumb:nth-child(3n-1){
    margin: 0 2%;
}

/*Final*/
.esquerda-direita-esquerda img{
    float: left;
    padding: 5px;
}

.esquerda-direita-direita img{
    float: right;
    padding: 5px;
}

.acao p{
    margin-bottom: 5%;
}

/* Rodapé */
.rodape-principal {
    line-height: 0px;
    margin-top: 20%;
    text-align: end;
    padding-right: 19px;
    box-sizing: border-box;
}

.rodape-principal .ul-icones i{
    color: #696565;
}