*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    font-size: 1.2em;
}

nav{
    background: #d2d2d2;
    text-align: center;
    overflow: auto;
    width: 100%;
    position: fixed;
}

nav div:first-child{
    float: left;
}

label[for="bt-menu"]{
    float: right;
    margin-right: 20px;
}
#principal{
    
    padding-top: 19%;
}
a{
    text-decoration: none;
}

img{
    max-width: 100%;
    display: inline-block;
}

div{
    margin: 1%;
}

div#principal{
    width: 90%;
    margin:  auto;
}

#principal section:nth-child(5){
    display: none;
}




@media(min-width: 480px){
    


    nav{
        text-align: center;
        padding: 2% 0%;
        width: 100%;
        margin-bottom: 1%;
        background: rgb(138, 135, 135);
    }

    
    div#principal section:nth-child(1) div:nth-child(1){
        margin-right: 2%;
    }
    
     div#principal section:nth-child(2) .col-md-2{
        float: left;
        width: 48%;
        margin: 1%;
    }
    .col-md-2:after{
        content: "";
        display: block;
        clear: both;
    }
}

@media(min-width: 680px){

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    label[for="bt-menu"]{
        display: none;
    }

    .menu{
        display: block;
    }

    #bt-menu:checked ~ .menu{
        margin-top: 20px;
        display: block;
    }

    div#principal section:first-child{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }

    nav ul{
        list-style: none;
    }

    nav ul li{
        display: inline-block;
    }


    #principal section:nth-child(2) div:nth-child(7) img{
        position: relative;
        left: 50%;
        max-width: 100%;
        transform: translate(-50%);
    }

    #principal section:nth-child(4) div{
        text-align: center;
    }
    
}

@media(min-width: 980px){
    body{
        background: yellow;
    };

    #principal section:nth-child(5){
        display: grid;
    }

}


@media(min-width: 1120px){
   #principal section:nth-child(4){
       display: flex;
   }
   #principal section:nth-child(4) div{
    margin: 1%;
   }

   #principal section:nth-child(6){
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: 4;
       grid-gap: 15px;
    }
    
    #principal section:nth-child(6) div:nth-child(1){
        text-align: center;
        grid-column: 1/1;
        grid-row: 1/6;
    }

    #principal section:nth-child(6) div:nth-child(2){
        grid-column: 2/2;
        grid-row: 3/6;
    }
   

}