@{
    ViewBag.Title = "Início";
}

@*<div class="jumbotron">
</div>*@


<div class="row">
    <header class="cabeçalho-principal"><!-- Cabeçalho principal /início-->        
        <h1>Trebalhos e groselhas de Danielt Tapias Morales.</h1>    
        <a class="link-cabecalho" href="html5up.net">
            <img />
        </a>
    </header><!-- Cabeçalho principal /fim-->

    <!-- Conteúdo principal /início-->
    <main class="conteudo-principal">
        
        <section class="secao-conteudo-principal">
            <h2>Quando o header é aside e o aside é no header</h2>
            <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque cubilia.</p>
            
            <a class="" href="" title="Veja mais">Veja mais...</a>
        
        </section>

        <section class="secao-conteudo-principal">

            <!-- Trabalhos recentes /início-->

            <h3>Trabalhos Recentes</h3>
            <article class="trabalhos-recentes-cartao">

                <a href="~/images/thumbs/01.jpg">
                    <img src="~/images/thumbs/01.jpg" alt="Carro estacionado em rua sem movimento" title="Carro estacionado em rua sem movimento" />
                </a>
                <p class="trabalhos-recentes-cartao-titulo">Magna sed consequat tempus</p>
                <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan</p>
            </article>

            <article class="trabalhos-recentes-cartao">

                <a href="~/images/thumbs/02.jpg">
                    <img src="~/images/thumbs/02.jpg" alt="floresta" title="Floresta" />
                </a>
                <p class="trabalhos-recentes-cartao-titulo">Magna sed consequat tempus</p>
                <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan</p>
            </article>

            <article class="trabalhos-recentes-cartao">

                <a href="~/images/thumbs/03.jpg">
                    <img src="~/images/thumbs/03.jpg" alt="Biblioteca" title="Biblioteca" />
                </a>
                <p class="trabalhos-recentes-cartao-titulo">Magna sed consequat tempus</p>
                <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan</p>
            </article>

            <article class="trabalhos-recentes-cartao">

                <a href="~/images/thumbs/04.jpg">
                    <img src="~/images/thumbs/04.jpg" alt="pés sobre degraus" title="Pés sobre degraus" />
                </a>
                <p class="trabalhos-recentes-cartao-titulo">Magna sed consequat tempus</p>
                <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan</p>
            </article>

            <article class="trabalhos-recentes-cartao">

                <a href="~/images/thumbs/05.jpg">
                    <img src="~/images/thumbs/05.jpg" alt="montanha" title="Montanha" />
                </a>
                <p class="trabalhos-recentes-cartao-titulo">Magna sed consequat tempus</p>
                <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan</p>
            </article>

            <article class="trabalhos-recentes-cartao">

                <a href="~/images/thumbs/06.jpg">
                    <img src="~/images/thumbs/06.jpg" alt="casa em ambiente aberto, cercado por árvores." title="casa em ambinte aberto, cercado por árvores" />
                </a>
                <p class="trabalhos-recentes-cartao-titulo">Magna sed consequat tempus</p>
                <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan</p>
            </article>

            <a>Veja Portfólio completo</a><!-- Trabalhos recentes /fim-->

            <section class="secao-conteudo-principal"><!-- Contato /início-->
                <h3>Entrar em contato</h3>
                <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan</p>
                
                <form class="formulario-contato">
                    <fieldset>
                        <legend></legend>

                        <label for="nome">Nome
                        <input id="nome"/></label>

                    </fieldset>
                </form>

            </section><!-- COntato /fim-->



        </section>


    </main><!-- Conteúdo principal /fim-->

    <footer class="rodape-principal"><!-- Rodapé principal /início-->

    </footer><!-- Rodapé principal /fim-->
</div>