@{
    ViewBag.Title = "Início";
}

@*<div class="jumbotron">
</div>*@


<div class="#">
    <header class="cabecalho-principal"><!-- Cabeçalho principal /início-->        
        <h1>Trabalhos e groselhas de Daniel Tapias Morales.</h1>    
        <a class="link-cabecalho" href="html5up.net">
            <img src="~/images/avatar.jpg"/>
        </a>
    </header><!-- Cabeçalho principal /fim-->

    <!-- Conteúdo principal /início-->
    <main class="conteudo-principal">
        
        <section class="secao-conteudo-principal">
            <h2>Quando o header é aside e o aside é no header</h2>
            <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque cubilia.</p>
            
            <a class="" href="" title="Veja mais">Veja mais...</a>
        
        </section>

        <section class="secao-conteudo-principal">

            <!-- Trabalhos recentes /início-->

            <h3>Trabalhos Recentes</h3>
            <article class="trabalhos-recentes-cartao">

                <a href="~/images/thumbs/01.jpg">
                    <img src="~/images/thumbs/01.jpg" alt="Carro estacionado em rua sem movimento" title="Carro estacionado em rua sem movimento" />
                </a>
                <p class="trabalhos-recentes-cartao-titulo">Magna sed consequat tempus</p>
                <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan</p>
            </article>

            <article class="trabalhos-recentes-cartao">

                <a href="~/images/thumbs/02.jpg">
                    <img src="~/images/thumbs/02.jpg" alt="floresta" title="Floresta" />
                </a>
                <p class="trabalhos-recentes-cartao-titulo">Magna sed consequat tempus</p>
                <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan</p>
            </article>

            <article class="trabalhos-recentes-cartao">

                <a href="~/images/thumbs/03.jpg">
                    <img src="~/images/thumbs/03.jpg" alt="Biblioteca" title="Biblioteca" />
                </a>
                <p class="trabalhos-recentes-cartao-titulo">Magna sed consequat tempus</p>
                <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan</p>
            </article>

            <article class="trabalhos-recentes-cartao">

                <a href="~/images/thumbs/04.jpg">
                    <img src="~/images/thumbs/04.jpg" alt="pés sobre degraus" title="Pés sobre degraus" />
                </a>
                <p class="trabalhos-recentes-cartao-titulo">Magna sed consequat tempus</p>
                <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan</p>
            </article>

            <article class="trabalhos-recentes-cartao">

                <a href="~/images/thumbs/05.jpg">
                    <img src="~/images/thumbs/05.jpg" alt="montanha" title="Montanha" />
                </a>
                <p class="trabalhos-recentes-cartao-titulo">Magna sed consequat tempus</p>
                <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan</p>
            </article>

            <article class="trabalhos-recentes-cartao">

                <a href="~/images/thumbs/06.jpg">
                    <img src="~/images/thumbs/06.jpg" alt="casa em ambiente aberto, cercado por árvores." title="casa em ambinte aberto, cercado por árvores" />
                </a>
                <p class="trabalhos-recentes-cartao-titulo">Magna sed consequat tempus</p>
                <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan</p>
            </article>

            <a>Veja Portfólio completo</a><!-- Trabalhos recentes /fim-->

        </section>

            <section class="secao-conteudo-principal"><!-- Contato /início-->
                <h3>Entrar em contato</h3>
                <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan</p>
                
                <form class="formulario-contato" action="#" method="post">
                    <fieldset>
                        @*<legend></legend>*@

                        <label for="nome">Nome: <br />
                            <input id="nome" name="nome" type="text" placeholder="Nome" required autofocus/>
                        </label>

                        <label for="email">Email:<br />
                            <input id="email" name="email" type="email" placeholder="example@exemple.com" required/>
                        </label>

                        <label for="mensagem">Mensagem: <br />
                            <textarea placeholder="Digite a sua mensagem" id="mensagem" name="mensagem" style="resize: none" maxlength="300"></textarea>
                        </label>

                        <input type="submit" value="Enviar"/>

                    </fieldset>
                </form>

                <address>

                    <p>
                        <span>Endereço</span>
                        1234 Somewhere Rd. Nashville, TN 00000 United States
                    </p>

                    <p>
                        <span>Telefone</span>
                        000-000-000
                    </p>

                    <p>
                        <span>E-mail</span>
                        hello@unitled.tld
                    </p>

                </address>

            </section><!-- Contato /fim-->
            
            <section class="secao-conteudo-principal"><!-- Elementos /início-->
                <h3>Elementos</h3>

                <h4>Texto</h4>
                <p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>
                this is <sup>superscript</sup> text and this is <sub>subscript</sub> text. This is underline and this is <code>code: for (;;) { ... }</code>
                Finally, this is a <a href="#">Link</a>
                </p>

                <blockquote >
                    <p>Está é uma citação tirada da Mozilla Developer Center.</p>
                </blockquote>

                <p>According to Mozilla's website</p>
                <q> Firefox 1.0 was released in 2001 and became a big success.</q>

                <h4>Preformatado</h4>
                <pre>
                    <code>
                        &lt;script&gt;
                            alert('oi');
                        &lt;/script&gt;
                    </code>    
                </pre>

                <h4>Listas</h4>

                <h5>Não ordenada</h5>
                <ul>
                    <li>item 1</li>
                    <li>item 2</li>
                    <li>item 3</li>
                </ul>

                <h5>Ordenada</h5>
                <ol>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                </ol>
                
                <h5>Alterate</h5>
                <ul class="ul-alternate">
                    <li>item 1</li>
                    <li>item 2</li>
                    <li>item 3</li>
                </ul>

                <h5>Icones</h5>
                <ul>
                    <li><i class="fab fa-twitter"></i></li>
                </ul>

            </section>




    </main><!-- Conteúdo principal /fim-->

    <footer class="rodape-principal"><!-- Rodapé principal /início-->

    </footer><!-- Rodapé principal /fim-->
</div>